[submodule "docs/references/pi-mono"]
	path = docs/references/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "docs/references/smithers"]
	path = docs/references/smithers
	url = https://github.com/codeplaneapp/smithers.git
[submodule "docs/references/smithers-gui"]
	path = docs/references/smithers-gui
	url = https://github.com/smithersai/gui.git
[submodule "docs/references/codex"]
	path = docs/references/codex
	url = https://github.com/openai/codex.git
